<!DOCTYPE html>
<!-- <html ng-app="app"> -->
<html>
<head>
  <title>Welcome to HitchHIker</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">



    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/auth.css">
        <link rel="stylesheet" href="/css/main.css">


</head>
<!-- <body ng-controller="AppController as ac"> -->
<body class="landing-background">

<div class='container landing'>
  <ul class="nav nav-pills pull-right " >
    <!-- <li><a href="/#/">Home</a></li> -->
    <li><a class="landingLoginSignup" href="/login">Login</a></li>
    <!-- below is a href to the server side route for the ride spa -->
    <!-- <li><a href="/#/ride">Rideboard #</a></li> -->
    <!-- <li><a href="/ride/#/ride">Rideboard</a></li> -->
<!--     <li><a href="/login" class="signup" data-toggle="modal" data-target="#loginModal">Sign Up</a></li>
 -->    <li><a href="/login" class="signup landingLoginSignup" >Sign Up</a></li>

  </ul>
  <div id="topSpace"> 
  </div>

  <h1 id="hitchhikerTitle">Welcome to Hitc<strong class="hitchHiker">[Hi]</strong>ker</h1>

  <!-- <img src="/images/thumb-logo.png" id="logoimage"> -->

<br><br>

  <h1 class="slogan">Carpooling How You Want.. With Friends</h1>
  <h4 class="subSlogan">Rideshares with personalties that match yours</h4>

 <!--  <div id="landingpara1">
    <h4 >Good conversation</h4>
    <p >You drive the same road everyday, why not spend the time with someone you can connect with.</p>
  </div>

  <h4 id="landingpara2">Safe Reliable Easy</h4>
  <p>Every one of our drivers and riders are verified users and are screened using advanced personality algorithms
  to ensure your ride is a comfortable and plesant experience</p>

  <div id="landingpara1">
    <h4 id="landingpara3">Take Action</h4>
    <p>Sign up today and change the way you get to places you already go everyday</p>
  </div> -->

</div>

</body>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>

    <script src="/js/angular.controller.js"></script>
    <script src="/js/auth.js"></script>

    <script src="/js/angular.factory.js"></script>
</html>