<!DOCTYPE html>
<html>
<head>
  <title>new</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/auth.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<h1>Nothing here!!</h1>
</body>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>

  <script src="/js/angular.controller.js"></script>
  <script src="/js/auth.js"></script>

  <script src="/js/angular.factory.js"></script>
</html>